{% macro handle_flash() %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashes">
        {% for category, message in messages %}
            <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
{% endmacro %}


<!DOCTYPE html>
<html lang="ru-RU">
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('static', filename='css/styles.css') }} />
    <link rel="icon" href={{ url_for('static', filename='png/icon.png') }}>
    <script src={{ url_for('static', filename='js/copylink.js') }}></script>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {%- block content %}
        <div class="menu">
            {% for name, ref in menu.items() -%}
            <a {% if name == title %} href="#" class="current" {% else %} href={{ref}} {% endif %} >{{name}}</a>
            {% endfor %}
        </div>
        <div class="content">
        {% endblock %}
        </div>
    </body>
    <footer>
        <p>Олег Капшай, никакие права не защищены, уравнения ничему не равны. Почта: <a href="№">admin@oleg.ru</a>. </p>
    </footer>
</html>