{% extends "base.html" %}
{% block content %}
{{ super() }}
    <h1>Восстановление пароля.</h1>

    <div class="form">
        <form class="sign-in" action="" method="POST">
        <div>{{ form.csrf_token }}</div>
        {{ handle_flash() }}
        
        {% for field in form if field.name not in ['csrf_token', ] %}
         <p>
             {{ field.label() }}
             {{ field() }}
             {% for error in field.errors %}
             <p class="error">{{ error }}</p>
             {% endfor %}
         </p>
        {% endfor %}
        </div>
{% endblock %}